//添加默认样式
body,html
    line-height 1
    font-weight 200
    font-family :'PingFang SC','STHeitiSC-Light','Helvetica-Light','arial','sans-serif'


.clearfix{
    display :inline-block;
}
.clearfix:after{
    display :block;
    content:"";
    clear:both;
}
//定义一个css函数，完成1像素边框
border-1px($color)
  position:relative
  &:after
    display :block
    width:100%
    position:absolute
    left:0
    bottom:0
    border-top:1px solid $color
    content:''

border-none()
    &:after
        display :none;
//定义dpr为2的屏幕使用2x图片，dpr为3的屏幕使用3x图片
bg-image($url)
    background-image:url($url + "@2x.png")
    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
        background-image:url($url + "@3x.png")


